.card {
  color: darkslategray;
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 2rem;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  background-color: aliceblue;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  transition: all ease-in-out 100ms;
  -webkit-transition: all ease-in-out 100ms;
  -moz-transition: all ease-in-out 100ms;
  -ms-transition: all ease-in-out 100ms;
  -o-transition: all ease-in-out 100ms;
}

.card > h1 {
  font-size: larger;
}

.card:hover > a {
  color: azure;
}

.card:hover {
  background-color: #1ca7a7db;
  color: azure;
}
